<template>
  <div>
    <h1>MyPage</h1>
    <h2>{{ name }}</h2>
    <img src="../assets/dumblephai.jpg" alt="">
  </div>
</template>
<script>
export default {
  props: ['name']
}
</script>
<style></style>
